html {
  height: 100%;
}
body {
  min-height: 100%;
}

.app-header {
  background-color: #FEE600;
  padding: 10px;
}

.app-main {
  background-color: #EEEEEE;
  height: 100vh;
}

.search-button {
  background-color: #EEEEEE!important;
  border: 0!important;
}

.search-input {
  border:0!important;
}

/***** BREADCRUMBS *****/

/** remove glow from input **/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #fff;
  outline: 0 none;
}

.price-shipping {
  display: flex;
}

.shipping-icon {
  width: 18px;
  height: 20px;
}

.product-description-main {
  display: block;
}

.breadcrumbs {
  margin: 10px 0;
  font-size: 13px;
  color: rgb(150, 150, 150);
}

/** Product description **/
.product-description-image {
  width: 100%;
}


